<% include partials/header %>

<%= title %>
<% for (let i =  0; i < posts.length; i++) { %>
    <div class="container">
        <h1><%= posts[i].title %></h1>
    </div>
    <% } %>

<% include partials/footer %>