<%include partials/header %>

<div class="container">
    <h1><%= title %></h1>
    <form method="POST">
        <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= Post.title %>" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="postBody">Your Post</label>
            <input type="textarea" class="form-control" id="body" name="body" value="<%= Post.body %>" placeholder="What's on your mind?">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%include partials/footer %>