<%include partials/header %>

<body>
  <main>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Blogpost</h1>
            <p class="lead">A classic blogs application</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="./register" role="button">Register</a>
              <a class="btn btn-primary btn-lg" href="./login" role="button">Login</a>
            </p>
        </div>
    </div>
  </main>
</body>

<%include partials/footer %>
